
<form method="POST" class="d-block ajaxForm" action="/settings/athletes/update" enctype="multipart/form-data" >
{{!-- {{user_id}} --}}
{{#each athletesz}}
    <div class="form-row">
        <div class="form-group col-md-12">
        <label for="firstname">Firstname *</label>
        <input type="hidden" id="id" name="id" value="{{id}}">
            <input type="text" value="{{firstname}}" class="form-control" id="firstname" name ="firstname" required>
        <small id="firstnamelbl"  class="form-text text-muted">firstname</small>
        </div>
         <div class="form-group col-md-12">
        <label for="sirname">Lastname *</label>
            <input type="text" value="{{sirname}}" class="form-control" id="sirname" name ="sirname" required>
        <small id="sirnamelbl" class="form-text text-muted">Lastname</small>
        </div>
         <div class="form-group col-md-12">
            <label for="email">Email *</label>
            <input type="text" value="{{email}}" class="form-control" id="email" name ="email" required>
        </div>
         <div class="form-group col-md-12">
            <label for="birthdate">Bithdate *</label>
            <input type="date" value="{{setDate birthdate}}" class="form-control" id="birthdate" name ="birthdate" required>
        </div>
        <div class="form-group col-md-12">
         <select name="gender" id="gender" class="form-control select2" data-toggle="select2" required>
            <option value="">select gender</option>
            {{#each ../athletes}}
                {{../this.athlete1}}
                {{#ifEquals gender "male" }}
                <option value="{{gender}}" selected>male</option>
                
                {{else}}

                <option value="female}" >female</option>

                {{/ifEquals}}
                {{/each}}
                    <option value="male" selected>Male</option>
                    <option value="female">Female</option>
        </select>
        {{!-- <small id="gender" class="form-text text-muted">gender</small> --}}
        </div>
       
        <div class="form-group col-md-12">
            <label for="gym">Gym *</label>
            <input type="text" value="{{gym}}" class="form-control" id="gym" name ="gym" required>
        </div>

        <div class="form-group col-md-12">
            <label for="style">Fight-Style *</label>
            <input type="text" value="{{style}}" class="form-control" id="style" name ="style" required>
        </div>
        <div class="form-group col-md-12">
            <label for="height">Height</label>
            <input type="text" value="{{height}}" class="form-control" id="height" name ="height" >
        </div>

        <div class="form-group col-md-12">
            <label for="weight">Weight *</label>
            <input type="text" value="{{weight}}" class="form-control" id="weight" name ="weight" required>
        </div>
        <div class="form-group col-md-12">
            <label for="region">Region *</label>
            <input type="text" value="{{region}}" class="form-control" id="region" name ="region" required>
        </div>
         <div class="form-group col-md-12">
            <label for="country">Country *</label>
            <input type="text" value="{{country}}" class="form-control" id="country" name ="country" required>
        </div>
        <div class="form-group col-md-12">
            <label for="handreach">Hand-Reach</label>
            <input type="text" value="{{handreach}}" class="form-control" id="handreach" name ="handreach" >
        </div>

        <div class="form-group col-md-12">
            <label for="legreach">Leg-Reach</label>
            <input type="text" value="{{legreach}}" class="form-control" id="legreach" name ="legreach" >
        </div>
          <div class="form-group col-md-12">
            <label for="legreach">Socials</label>
            <input type="text" class="form-control" placeholder="twitter profile url" id="socials" name ="socials" >
            <input type="text" class="form-control" placeholder="facebook profile url" id="socials1" name ="socials" >
            <input type="text" class="form-control" placeholder="instagram profile url" id="socials1" name ="socials" >
            <input type="text" class="form-control" placeholder="ticktok profile url" id="socials1" name ="socials">
        </div>
        <div class="form-group col-md-12">
        <img src="{{headImage}}" width="200vw" style="margin-bottom: 10px;">
            <label for="headImage">Head Image</label>
            <div class="custom-file-upload">
                <input type="file" class="form-control" id="headImage" name = "headImage">
            </div>
        </div>
        <div class="form-group col-md-12">
        <img src="{{bodyImage}}" width="200vw" style="margin-bottom: 10px;">
            <label for="bodyImage">Body Image</label>
            <div class="custom-file-upload">
                <input type="file" class="form-control" id="bodyImage" name = "bodyImage">
            </div>
        </div>
        <div class="form-group spinner hidden col-md-12">
        <div class="spinner-border" style="margin-left:45%;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">update athlete</button>
        </div>
    </div>
    {{/each}}
</form>
<script>
     $(document).ready(function() {
        initSelect2(['#gender']);
    });
     $(".ajaxForm").submit(function(e) {
        $(".spinner").removeClass("hidden");
            e.preventDefault();
            var form = $(this);
        ajaxSubmit(e, form, showAllAthletes);
    });
</script>

