<form method="POST" class="d-block ajaxForm" action="/settings/events/update" enctype="multipart/form-data">
    {{!-- {{user_id}} --}}
    {{#each events}}
    
    <div class="form-row">
        <div class="form-group col-md-12">
        <input type="hidden" id="id" name="id" value="{{id}}">
            <label for="athlete1">First Athlete / Fighter</label>
            <select name="athlete1" id="athlete1" class="form-control select2" data-toggle="select2" required>
                <option value="">select athlete</option>
                
                {{#each ../athletes}}
                {{../this.athlete1}}
                {{#ifEquals this.id ../this.athlete1 }}
                <option value="{{this.id}}" selected>{{this.firstname}} {{this.sirname}}</option>
                {{else}}

                <option value="{{this.id}}">{{this.firstname}} {{this.sirname}}</option>
                {{/ifEquals}}
                {{/each}}
            </select>
            <small id="athlete1lbl" class="form-text text-muted">Athlete 1
                 
            </small>
        </div>

               
                {{!-- {{#ifEquals this.id ../athlete.id }} --}}
        <div class="form-group col-md-12">
            <label for="athlete2">Second Athlete / Fighter</label>
            <select name="athlete2" id="athlete2" class="form-control select2" data-toggle="select2" required>
                <option value="" >select athlete</option>
                
                {{#each ../athletes}}
                {{../this.athlete1}}
                {{#ifEquals this.id ../this.athlete2 }}
                <option value="{{this.id}}" selected>{{this.firstname}} {{this.sirname}}</option>
                
                {{else}}

                <option value="{{this.id}}" >{{this.firstname}} {{this.sirname}}</option>

                {{/ifEquals}}
                {{/each}}
            </select>
            <small id="athlete2lbl" class="form-text text-muted">Athlete 2</small>
        </div>

        <div class="form-group col-md-12">
        <img src="{{hero}}" width="200vw" style="margin-bottom: 10px;">
            <label for="hero">Ads Image</label>
            <div class="custom-file-upload">
                <input type="file" class="form-control" id="hero" name = "hero">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="venue">Venue</label>
            <input type="text" value="{{venue}}" class="form-control" id="venue" name="venue" required>
            <small id="venuelbl" class="form-text text-muted">example Diamond Jubilee Hall</small>
        </div>

        <div class="form-group col-md-12">
            <label for="street">Street</label>
            <input type="text" value="{{street}}" class="form-control" id="street" name="street" required>
            <small id="streetlbl" class="form-text text-muted">Kinondoni, Upanga</small>
        </div>

        <div class="form-group col-md-12">
            <label for="region">Region</label>
            <input type="text" value="{{region}}" class="form-control" id="region" name="region" required>
            <small id="regionlbl" class="form-text text-muted">Dar es Salaam</small>
        </div>

        <div class="form-group col-md-12">
            <label for="date">Date</label>
            <input type="date" value="{{{setDate date}}}" class="form-control" id="date" name="date" required>
        </div>
 <div class="form-group col-md-12">
            <label for="time">Time</label>
            <input type="time" value="{{time}}" class="form-control" id="time" name="time" required>
        </div>
        <div class="form-group col-md-12">
            <label for="details">details</label>
            <textarea class="form-control" id="details" name="details" style="height:20vh;">{{details}}"</textarea>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">update event</button>
        </div>

    </div>
 {{/each}}
</form>

<script>
 $(document).ready(function() {
        initSelect2(['#athlete1','#athlete2']);
        //initSelect2(['#athlete2']);
    });
     $(".ajaxForm").submit(function(e) {
        $(".spinner").removeClass("hidden");
            e.preventDefault();
            var form = $(this);
            ajaxSubmit(e, form, showAllEvents);
    });
</script>