<style>
    html {
        font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
        font-size: 14px;
    }

    h5 {
        font-size: 1.28571429em;
        font-weight: 700;
        line-height: 1.2857em;
        margin: 0;
    }

    .card2 {
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        border: none;
        background-color: white;
        border-radius:0rem;
        box-shadow: 0 0px 0px 0 #d4d4d5, 0 0 0 0.5px #e6e6e6;
    }
    .card2:hover {
        font-size: 1em;
        overflow: hidden;
        padding: 0;
        border: none;
        border-radius:0rem;
        box-shadow: 5px 5px 5px 0 #d4d4d5, 0 0 0 0px #d4d4d5;
    }

    .card2-block {
        font-size: 1em;
        position: relative;
        margin: 5px;
        padding: 1em;
        border: none;
        border-top: 1px solid rgba(253, 252, 252, 0);
        box-shadow: none;
    }

    .card2-img-top {
        display: block;
        width: 100%;
        height: auto;
    }

    .card2-title {
        font-size: 1.38571429em;
        font-weight: 700;
        line-height: 1.2857em;
        color:#1d1d6b;
    }

    .card2-text {
        clear: both;
        margin-top: .5em;
        color: rgba(0, 0, 0, .68);
        font-size: 16px;    
    }
    .card2-sub-text a{
        clear: both;
        margin-top: .5em;
        color: rgba(0, 0, 0, .68);
        font-size: 0.8857em;
        line-height: 0.8857em;
        font-weight: 600;
        font-style: italic;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .card2-footer {
        font-size: 1em;
        position: static;
        top: 0;
        left: 0;
        margin: 7px;
        margin-bottom:5px;
        max-width: 100%;
        padding: .75em 1em;
        color: rgba(0, 0, 0, .4);
        border-top: 1px solid rgba(0, 0, 0, .05) !important;
        background: transparent;
    }

    .card2-inverse .btn {
        border: 1px solid rgba(0, 0, 0, .05);
    }

    .profile {
        position: absolute;
        top: -32px;
        display: inline-block;
        overflow: hidden;
        box-sizing: border-box;
        width: 65px;
        height: 65px;
        margin: 0;
        border: 0px solid #fff;
        border-radius: 50%;
        background-color: white;
    }

    .profile-avatar {
        display: block;
        width: 100%;
        height: 90%;
        border-radius: 50%;
    }

    .profile-inline {
        position: relative;
        top: 0;
        display: inline-block;
    }

    .profile-inline~.card2-title {
        display: inline-block;
        margin-left: 4px;
        vertical-align: top;
    }

    .text-bold {
        font-weight: 700;
    }

    .meta {
        font-size: 1em;
        color: rgba(0, 0, 0, .4);
    }

    .meta a {
        text-decoration: none;
        color: rgba(0, 0, 0, .4);
    }

    .meta a:hover {
        color: rgba(0, 0, 0, .87);
    }
    .time-text{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
</style>
<div class="trending-page-grid trending-page">

{{#each latestevents}}
    <div class="grid-item position_{{this.index}} size_1x1 card2 card2-inverse card2-info">
        <a href="/news/{{id}}"><img class="card2-img-top" src="{{hero}}"></a>
        <div class="card2-block">
            <figure class="profile">
                <img src="/public/images/logo.jpeg" class="profile-avatar" alt="">
            </figure>
            <h4 class="card2-title mt-3">{{athlete1.firstname}} <span style="color: red;"> vs</span> {{athlete2.firstname}}</h4>
            <div class="meta card2-sub-text">
                <a>{{venue}}</a>
            </div>
            <div class="card2-text">
                details
                {{details}}
            </div>
        </div>
        <div class="card2-footer row">
            {{!-- <small class="time-text col-6" style="float: left; text-align:left;">author: John Joseph</small> --}}
            <small class="time-text col-12" style="float: center;text-align:center;">{{longAgo updatedAt}}</small>
            <a href="/events/{{id}}" class="btn btn-sm btn-default float-center col-md-6 offset-3" style="
        margin-top:15px;margin-bottom:5px;height:5vh;">more..</a>
        </div>
    </div>
    {{/each}}
</div>
