<div class="services activePage" style="z-index: 0;">
<div class="page__innercontent">
<div class="services__works  scrollingSection">

    <div class="container__full">
        <div class="container__content">
            <div class="worksPreview__title">Latest <strong>news.</strong></div>
            <div class="worksPreview__container">
                {{#each news}}
                <a href="/news/{{id}}" class="workCard to-animate parallax mobileSlider__item active-animation" data-rellax-speed="0.5"
                    data-offset="mid" style="transform: translate3d(0px, -{{id}}0px, 0px); text-decoration:none;">
                    <div class="workCard__img" >
                        <img src="{{imageUrl}}"
                            class="workCard__img__content" style="object-position:center center">
                    </div>
                    <div class="workCard__header">
                        <div class="workCard__header__title">{{title}}</div>
                        <div class="workCard__header__feature">
                            <p>Author: {{author}}</p>
                        </div>
                    </div>
                    <div class="workCard__content">
                    </div>
                </a>
                {{/each}}
            </div>
        </div>
    </div>
</div>
</div>
</div>