<div id="block-mainpagecontent" class="block block-system block-system-main-block" style="margin-top: 100px;">
    <div class="ds-1col ds-1col-filters clearfix">
        <div class="block-region-ds-content">
            <div class="views-element-container block block-views block-views-blocktrending-page">
                <div>
                    <div class="view-trending view-id-trending view-display-id-page js-view-dom-id-83c32911818b33ce2a99eee162e437c8486759426f974f52ff5630690e47314b"
                        data-once="ajax-pager">


                        {{!-- main goes here --}}
                        {{!-- main round, prelims, early prelims buttons --}}
                        <div class="l-container event-details-ad--prev-sibling">
                            <div class=" fight-card field-group-tabs-wrapper">

                                <div data-horizontal-tabs="" class="horizontal-tabs clearfix">
                                    <ul data-horizontal-tabs-list="" class="horizontal-tabs-list">

                                    </ul>

                                    {{!-- main card, prelims, early prelims --}}
                                    <div class="c-listing__wrapper--horizontal-tabs horizontal-tabs-panes"
                                        data-horizontal-tabs-panes=""><input class="horizontal-tabs-active-tab"
                                            type="hidden" value="edit-group-main-card">

                                        {{!-- ALL --}}
                                        <details class="main-card js-form-wrapper form-wrapper horizontal-tabs-pane"
                                            id="edit-group-main-card" open="open" data-once="details">
                                            <summary role="button" aria-controls="edit-group-main-card"
                                                aria-expanded="true" aria-pressed="true">
                                                ALL<span class="summary"></span></summary>
                                            <div class="details-wrapper">

                                                <div
                                                    class="view view-eva view-event-fights view-id-event_fights view-display-id-entity_view_1 js-view-dom-id-00fba68aff4175fb7395c4abf80d66fa4a799d12338d21b3568008b4d4e0581a">

                                                    {{!-- main --}}
                                                    <form class=" form-group searchForm" action="/athletes/all/"
                                                        method="GET" accept-charset="UTF-8">
                                                        <div class="row">
                                                            <div class="form-actions form-group col-md-4">
                                                                <label for="">Name</label>
                                                                <input class="form-control" type="text" id="name"
                                                                    name="name" placeholder="name">
                                                            </div>
                                                            <div class="form-actions form-group col-md-4">
                                                                <label for="style">Style</label>
                                                                <select class="form-control" id="style" name="style">
                                                                    <option value="all">All Style</option>
                                                                    <option value="karate">Karate Style</option>
                                                                    <option value="muaithai">Muai Thai</option>
                                                                    <option value="wushu">Wushu Style</option>
                                                                    <option value="judo">Judo Style</option>
                                                                    <option value="aikido">Aikido Style</option>
                                                                </select>
                                                            </div>
                                                            <div class="form-actions col-md-4" id="">
                                                                <button class=" button form-control" type="submit"
                                                                    value="search"
                                                                    style="height:6vh; margin-top:15px; background-color:grey; color:white;"><i
                                                                        class="fa fa-search"></i> search</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                    <hr style="margin-bottom: 35px;">
                                                    {{!-- all atheltes cards --}}
                                                    <section class="l-listing--stacked--full-width row">

                                                        {{!-- <section class="l-listing--stacked--full-width">
                                                            --}}
                                                            <div class="view-items-outer-wrp col-10 offset-2" >
                                                                <div class="view-items" style="margin-left:-60px;">

                                                                    <div data-drupal-views-infinite-scroll-content-wrapper=""
                                                                        class="views-infinite-scroll-content-wrapper clearfix">

                                                                        <div class="item-list">

                                                                            <ul class="l-flex--4col-1to4">
                                                                                {{#each data}}
                                                                                <li class="l-flex__item">
                                                                                    <div
                                                                                        class="node node--type-athlete node--view-mode-all-athletes-result ds-1col clearfix" >

                                                                                        <div
                                                                                            class="c-listing-athlete-flipcard white" style="margin:0px;">

                                                                                            <div
                                                                                                class="c-listing-athlete-flipcard__inner">

                                                                                                <div
                                                                                                    class="c-listing-athlete-flipcard__front">

                                                                                                    <div
                                                                                                        class="c-listing-athlete__thumbnail">
                                                                                                        <div
                                                                                                            class="field field--name-image field--type-entity-reference field--label-hidden field__item">
                                                                                                            <div
                                                                                                                class="layout layout--onecol">
                                                                                                                <div
                                                                                                                    class="layout__region layout__region--content">
                                                                                                                    <img src="{{headImage}}"
                                                                                                                        loading="lazy"
                                                                                                                        class="image-style-teaser"
                                                                                                                        width="400"
                                                                                                                        height="300">

                                                                                                                </div>
                                                                                                            </div>

                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="c-listing-athlete__text">

                                                                                                        <span
                                                                                                            class="c-listing-athlete__nickname">
                                                                                                            <div
                                                                                                                class="field field--name-nickname field--type-string field--label-hidden">
                                                                                                                <div
                                                                                                                    class="field__item">
                                                                                                                    "ORION"
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </span>

                                                                                                        <span
                                                                                                            class="c-listing-athlete__name"
                                                                                                            style="font-family: stolzl-bold;">
                                                                                                            {{firstname}}
                                                                                                            {{sirname}}
                                                                                                        </span>

                                                                                                        <span
                                                                                                            class="c-listing-athlete__title">
                                                                                                            <div
                                                                                                                class="field field--name-stats-weight-class field--type-entity-reference field--label-hidden field__items">
                                                                                                                <div
                                                                                                                    class="field__item">
                                                                                                                    {{style}}
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </span>

                                                                                                        <span
                                                                                                            class="c-listing-athlete__record">{{region}}</span>

                                                                                                    </div>

                                                                                                </div>

                                                                                                <div
                                                                                                    class="c-listing-athlete-flipcard__back">

                                                                                                    <div
                                                                                                        class="c-listing-athlete__bgimg">
                                                                                                        <div
                                                                                                            class="field field--name-image-body-right field--type-entity-reference field--label-hidden field__item">
                                                                                                            <div
                                                                                                                class="layout layout--onecol">
                                                                                                                <div
                                                                                                                    class="layout__region layout__region--content">
                                                                                                                    <img src="{{bodyImage}}"
                                                                                                                        loading="lazy"
                                                                                                                        class="image-style-event-fight-card-upper-body-of-standing-athlete"
                                                                                                                        width="185"
                                                                                                                        height="536">
                                                                                                                </div>
                                                                                                            </div>

                                                                                                        </div>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="c-listing-athlete-flipcard__text__back">

                                                                                                        <span
                                                                                                            class="c-listing-athlete__nickname">
                                                                                                            <div
                                                                                                                class="field field--name-nickname field--type-string field--label-hidden">
                                                                                                                <div
                                                                                                                    class="field__item">
                                                                                                                    "ORION"
                                                                                                                </div>
                                                                                                            </div>
                                                                                                        </span>

                                                                                                        <span
                                                                                                            class="c-listing-athlete__name"
                                                                                                            style="font-family: stolzl-bold;">
                                                                                                            {{firstname}}
                                                                                                            {{sirname}}
                                                                                                        </span>

                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="c-listing-athlete-flipcard__action">



                                                                                                        <a href="/athletes/profile/{{id}}"
                                                                                                            class="e-button--black "><span
                                                                                                                class="e-button__text">

                                                                                                                Athlete
                                                                                                                Profile
                                                                                                            </span></a>
                                                                                                    </div>

                                                                                                    <div
                                                                                                        class="c-listing-athlete-flipcard__footer">
                                                                                                        <h4>Follow
                                                                                                        </h4>

                                                                                                        <ul
                                                                                                            class="c-listing-athlete-flipcard__social-menu">
                                                                                                            <li
                                                                                                                class="c-listing-athlete-flipcard__social-item">
                                                                                                                <a class="c-listing-athlete-flipcard__social-link"
                                                                                                                    href="https://twitter.com/ShamilAbrek"
                                                                                                                    target="_blank"><span
                                                                                                                        class="c-listing-athlete-flipcard__social-icon">



                                                                                                                        <span
                                                                                                                            class="e-icon--small"><svg
                                                                                                                                class="e-icon__svg">
                                                                                                                                <title>
                                                                                                                                    Twitter
                                                                                                                                </title>
                                                                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#twitter">
                                                                                                                                </use>
                                                                                                                            </svg></span>
                                                                                                                    </span></a>
                                                                                                            </li>
                                                                                                            <li
                                                                                                                class="c-listing-athlete-flipcard__social-item">
                                                                                                                <a class="c-listing-athlete-flipcard__social-link"
                                                                                                                    href="https://instagram.com/ShamilAbdurakhimov"
                                                                                                                    target="_blank"><span
                                                                                                                        class="c-listing-athlete-flipcard__social-icon">



                                                                                                                        <span
                                                                                                                            class="e-icon--small"><svg
                                                                                                                                class="e-icon__svg">
                                                                                                                                <title>
                                                                                                                                    Instagram
                                                                                                                                </title>
                                                                                                                                <use xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                                                                                    xlink:href="/themes/custom/ufc/assets/svg/sprite-ui.svg#instagram">
                                                                                                                                </use>
                                                                                                                            </svg></span>
                                                                                                                    </span></a>
                                                                                                            </li>

                                                                                                        </ul>

                                                                                                    </div>

                                                                                                </div>

                                                                                            </div>

                                                                                        </div>
                                                                                    </div>

                                                                                </li>
                                                                                {{/each}}
                                                                            </ul>

                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {{!--
                                                        </section> --}}
                                                    </section>
                                                    {{!-- load more --}}
                                                    <ul class="js-pager__items pager"
                                                        data-drupal-views-infinite-scroll-pager="">
                                                        <li class="pager__item">
                                                            <a class="button" href="?name=All&amp;search=&amp;page=1"
                                                                title="Load more items" rel="next">Load More</a>
                                                        </li>
                                                    </ul>

                                                </div>

                                            </div>
                                        </details>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                    {{!-- product card
                    {{>shop/product_card}} --}}



                </div>
            </div>
        </div>

    </div>
</div>