
<form method="POST" class="d-block ajaxForm" action="/settings/news/update" enctype="multipart/form-data" >
{{!-- {{user_id}} --}}
{{#each newsz}}
    <div class="form-row">
        <div class="form-group col-md-12">
        <label for="title">Title</label>
        <input type="hidden" id="id" name="id" value="{{id}}">
            <input type="text" value="{{title}}" class="form-control" id="title" name ="title" required>
        <small id="titlelbl"  class="form-text text-muted">title</small>
        </div>
         <div class="form-group col-md-12">
        <label for="sub_title">Subtitle</label>
            <input type="text" value="{{sub_title}}" class="form-control" id="sub_title" name ="sub_title" required>
        <small id="sub_titlelbl" class="form-text text-muted">sub-title</small>
        </div>
        
        <div class="form-group col-md-12">
            <label for="author">Author</label>
            <input type="text" value="{{author}}" class="form-control" id="author" name ="author" required>
        </div>

    <div class="form-group col-md-12">
        <img src="{{imageUrl}}" width="200vw" style="margin-bottom: 10px;">
        <label for="imageUrl">Image</label>
        <div class="custom-file-upload">
            <input type="file" class="form-control" id="imageUrl" name = "imageUrl">
        </div>
    </div>
        <div class="form-group col-md-12">
            <label for="details">details</label>
            <textarea class="form-control" id="details" name ="details" style="height:20vh;">{{details}}</textarea>
        </div>
        <div class="form-group col-md-12">
            <label for="description">descriptions</label>
            <textarea class="form-control" id="description" name ="description" style="height:20vh;">{{description}}</textarea>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">add news</button>
        </div>
    </div>
    {{/each}}
</form>
<script>
     $(".ajaxForm").submit(function(e) {
            e.preventDefault();
            var form = $(this);
        //alert('here');
            var data = {
                id:$('#id').val(),
                title:$('#title').val(),
                sub_title:$('#sub_title').val(),
                author:$('#author').val(),
                details:$('#details').val(),
                description:$('#description').val(),
            }
        
        //console.log(this.title);
        ajaxSubmit(e, form, data, showAllNews);
    });
</script>

