<form method="POST" class="d-block ajaxForm" action="/settings/events/add" enctype="multipart/form-data">
    {{!-- {{user_id}} --}}
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="athlete1">First Athlete / Fighter</label>
            <select name="athlete1" id="athlete1" class="form-control select2" data-toggle="select2" required>
                <option value="" selected>select athlete</option>
                {{#each athletes}}
                <option value="{{id}}">{{this.firstname}} {{sirname}}</option>
                {{/each}}
            </select>
            <small id="athlete1lbl" class="form-text text-muted">Athlete 1</small>
        </div>

        <div class="form-group col-md-12">
            <label for="athlete2">Second Athlete / Fighter</label>
            <select name="athlete2" id="athlete2" class="form-control select2" data-toggle="select2" required>
                <option value="" selected>select athlete</option>
                {{#each athletes}}
                <option value="{{id}}">{{firstname}} {{sirname}}</option>
                {{/each}}
            </select>
            <small id="athlete2lbl" class="form-text text-muted">Athlete 2</small>
        </div>

        <div class="form-group col-md-12">
            <label for="venue">Venue</label>
            <input type="text" class="form-control" id="venue" name="venue" required>
            <small id="venuelbl" class="form-text text-muted">example Diamond Jubilee Hall</small>
        </div>

        <div class="form-group col-md-12">
            <label for="street">Street</label>
            <input type="text" class="form-control" id="street" name="street" required>
            <small id="streetlbl" class="form-text text-muted">Kinondoni, Upanga</small>
        </div>

        <div class="form-group col-md-12">
            <label for="region">Region</label>
            <input type="text" class="form-control" id="region" name="region" required>
            <small id="regionlbl" class="form-text text-muted">Dar es Salaam</small>
        </div>

        <div class="form-group col-md-12">
            <label for="date">Date</label>
            <input type="date" class="form-control" id="date" name="date" required>
        </div>
        <div class="form-group col-md-12">
            <label for="time">Time</label>
            <input type="time" class="form-control" id="time" name="time" required>
        </div>

        <div class="form-group col-md-12">
            <label for="details">details</label>
            <textarea class="form-control" id="details" name="details" style="height:20vh;"></textarea>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">add event</button>
        </div>
    </div>
</form>

<script>
 $(document).ready(function() {
        initSelect2(['#athlete1','#athlete2']);
        //initSelect2(['#athlete2']);
    });
     $(".ajaxForm").submit(function(e) {
        $(".spinner").removeClass("hidden");
            e.preventDefault();
            var form = $(this);
            ajaxSubmit(e, form, showAllEvents);
    });
</script>