<style>
    .main-header {
        margin-top: 0px;
        text-align: center;
        width: 100%;
        background-image: url('https://static.wixstatic.com/media/4f8de2_7702c77b0efc4647aea84b30739a063bf000.jpg/v1/fill/w_245,h_138,al_c,q_80,usm_0.66_1.00_0.01,blur_2,enc_auto/4f8de2_7702c77b0efc4647aea84b30739a063bf000.jpg');
        background-repeat: no-repeat;
        filter: blur(5px);
        -webkit-filter: blur(5px);
        /* Full height */
        /* Center and scale the image nicely */
        background-position: center;
        background-size: cover;
        ba

    }

    .title {
        font-size: 35px;
        margin-top: -60%;
        z-index: 0;
        margin-left: 20%;
        color: rgb(255, 255, 255);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    .bg-text {
        background-color: rgb(0, 0, 0);
        /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4);
        /* Black w/opacity/see-through */
        color: white;
        font-weight: bold;
        border: 3px solid #f1f1f1;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        width: 80%;
        padding: 20px;
        text-align: center;
    }

    .one {
        background-color: #f2f2f2;
        height: auto;
        width: 100%;
        text-align: center;
        padding-bottom: 45px;
    }

    .two {
        background-color: #fff;
        margin-top: 8%;
        padding-bottom: 35px;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .first {
        margin-top: 8%;
        margin-left: 8%;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .first h3 {
        font-size: 25px;
        font-weight: 600;
    }

    .first-img div {
        margin-left: 0%;
        margin-top: 10%;
    }

    .first-img div img {
        margin-left: 15px;
    }

    .second {
        margin-top: 8%;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .second-img div {
        margin-left: 0%;
        margin-top: 0%;
    }

    .second-img div img {
        margin-left: 15px;
    }

    .second div {
        margin-left: 0%;
        margin-top: 5%;
        width: 100%;
    }

    .second h3 {
        font-size: 25px;
        font-weight: 600;
        width: 100%;
    }

    .third {
        margin-top: 8%;
        margin-left:0px;
        font-size: 20px;
        text-align: center;
        width: 100%;
    }

    .third div {
        margin-left: 0%;
        margin-top: 10%;
    }

    .third h3 {
        font-size: 25px;
        font-weight: 600;
    }


    @media (min-width:56.25em) {
        .main-header {
            margin-top: -19%;
            text-align: center;
            width: 100vw;
            display: block;
            height: 140vh;
            background-image: url('https://static.wixstatic.com/media/4f8de2_7702c77b0efc4647aea84b30739a063bf000.jpg/v1/fill/w_245,h_138,al_c,q_80,usm_0.66_1.00_0.01,blur_2,enc_auto/4f8de2_7702c77b0efc4647aea84b30739a063bf000.jpg');
            background-repeat: no-repeat;
            filter: blur(5px);
            -webkit-filter: blur(5px);
            /* Full height */
            /* Center and scale the image nicely */
            background-position: center;
            background-size: cover;
            z-index: 0;
        }

        .title {
            font-size: 35px;
            margin-top: -32%;
            z-index: 0;
            margin-left: 60%;
            color: rgb(255, 255, 255);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-weight: 600;
        }

        .one {
            background-color: #f2f2f2;
            height: auto;
            width: 100%;
            padding-bottom: 45px;
        }

        .three {
            background-color: #f2f2f2;
            margin-top: 8%;
            padding-bottom: 35px;
            font-size: 20px;
            text-align: left;
            width: 45%;
        }

        .two {
            background-color: #fff;
            margin-top: 8%;
            padding-bottom: 35px;
            font-size: 20px;
            text-align: left;
            width: 45%;
        }

        .first {
            margin-top: 8%;
            font-size: 20px;
            margin-left: 25%;
            text-align: center;
            width: 45%;
        }

        .first h3 {
            font-size: 25px;
            font-weight: 600;
        }

        .first-img div {
            margin-left: 19%;
            margin-top: 10%;
        }

        .first-img div img {
            margin-left: 55px;
        }

        .second {
            margin-top: 8%;
            font-size: 20px;
            text-align: left;
            width: 45%;
        }

        .second-img div {
            margin-left: 18%;
            margin-top: 0%;
        }

        .second-img div img {
            margin-left: 55px;
        }

        .second div {
            margin-left: 15%;
            margin-top: 5%;
        }

        .second h3 {
            font-size: 25px;
            font-weight: 600;
        }

        .third {
            margin-top: 13%;
            font-size: 20px;
            text-align: left;
            width: 100%;
        }

        .third div {
            margin-left: -20%;
            margin-top: 0%;
        }

        .third h3 {
            font-size: 25px;
            font-weight: 600;
        }
    }
</style>
<div class="row" style="margin-bottom: 25px;">
    <div class="main-header"></div>
    <div class="title">
        THE FUTURE OF <br><br>
        FITNESS IS HERE<br><br>
        <a class="btn btn-lg btn-outline-secondary"><i class="fa fa-apple"></i> Download for IOS </a><br><br>
        <a class="btn btn-lg btn-outline-secondary"><i class="fa fa-android"></i> Download for Android </a>
    </div>
    <section class="row col-12 one">
        <div class="col-md-6 offset-3 first">
            <h3>THE WORLD'S SMARTEST PERSONAL TRAINER</h3>
            <p>Onyx counts your reps, corrects your form, and motivates you at the perfect time. It’s everything you
                want in a personal trainer, without the cost, and on your schedule.</p>
        </div>
    </section>
    {{#each fitnesses}}
    
    {{#ifEquals imagePosition 'right' }}
    <section class="row col-12 two">
        <div class="col-md-6 second">
            <div>
                <h3><a href="{{linkto}}">{{title}}</a></h3>
                <p>{{details}}</p>
            </div>
        </div>
        <div class="col-md-6 first-img">
            <div>
                <img src="{{imageUrl}}"
                    alt="">
            </div>
        </div>
    </section>
{{else}}
<section class="row col-12 three">
        <div class="col-md-6 first-img">
            <div>
                <img src="{{imageUrl}}"
                    alt="">
            </div>
        </div>
        <div class="col-md-6 third">
            <div>
                <h3><a href="{{linkto}}">{{title}}</a></h3>
                <p>{{details}}</p>
            </div>
        </div>
    </section>
{{/ifEquals}}

    {{/each}}
</div>