
<form method="POST" class="d-block ajaxForm" action="/settings/warriors/{{Warriors.id}}" enctype="multipart/form-data" >
    <h4><i class="dripicons-plus"></i> Create product</h4><hr>
    <div class="form-row">
        <div class="form-group col-md-12">
        <label for="name">Name *</label>
            <input type="text" class="form-control" id="name" value="{{Warriors.name}}" name ="name" required>
        <small id="namelbl"  class="form-text text-muted">name</small>
        </div>
         <div class="form-group col-md-12">
            <label for="gameId">Select Game</label>
            <select name="gameId" class="form-control" id="gameId">
                <option value="">select Game</option>
                {{#each Games}}
                {{#ifEquals id ../Warriors.gameId}}
                <option value="{{id}}" selected>{{name}}</option>
                {{else}}
                <option value="{{id}}">{{name}}</option>
                {{/ifEquals}}
                {{/each}}
            </select>
        </div>
        <div class="form-group col-md-12">
            <label for="imageUrl">Image</label>
            <img src="{{Warriors.imageUrl}}" alt="{{Warriors.imageUrl}}" style="width:250px; margin:5px;">
            <div class="custom-file-upload">
                <input type="file" class="form-control" id="imageUrl" name = "imageUrl">
            </div>
        </div>
        <div class="form-group col-md-12">
            <label for="description">Descriptions</label>
            <div class="custom-file-upload">
                <textarea class="form-control" id="description" name = "description" style="height: 35vh;">{{Warriors.description}}</textarea>
            </div>
        </div>
        <div class="form-group spinner hidden col-md-12">
        <div class="spinner-border" style="margin-left:45%;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        </div>
        <div class="form-group  col-md-12">
            <button class="btn btn-block btn-primary" type="submit">update product</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function() {
        $('#gameId').select2({
                dropdownParent: $('#right-modal')
            });
    });
     $(".ajaxForm").submit(function(e) {
        $(".spinner").removeClass("hidden");
            e.preventDefault();
            let form = $(this);
            ajaxSubmit(e, form,"POST", showAllWarriors);
    });
</script>

