<section class="l-listing--stacked--full-width" style="margin-top: 70px;z-index:0;">

  <ul class="l-listing__group--bordered" style="margin-top: 200px;margin-bottom: 200px;">
    <li class="l-listing__item" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"
      data-order="1">
      <div class="node node--type-fight node--view-mode-card-event ds-1col clearfix">

        <div class="c-listing-fight" data-fmid="9638" data-status="Upcoming-0-0">
          <div class="c-listing-fight__content">

            <div class="c-listing-fight__corner--red">
              <div class="c-listing-fight__corner-image--red">
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <img src="{{event.athlete1.headImage}}" loading="lazy"
                      class="image-style-event-fight-card-upper-body-of-standing-athlete" width="185" height="643">

                  </div>
                </div>

              </div>

              <div class="c-listing-fight__corner-body--red">

                <div class="c-listing-fight__outcome-wrapper ">
                  <div class="c-listing-fight__outcome"></div>
                </div>

                <div class="js-listing-fight__corner-rank c-listing-fight__corner-rank">
                  <span>#1</span>
                </div>

                <div class="c-listing-fight__corner-name">
                  <span class="c-listing-fight__corner-given-name">{{event.athlete1.firstname}}</span>
                  <span class="c-listing-fight__corner-family-name">{{event.athlete1.sirname}}</span>
                </div>
              </div>
              <div class="js-listing-fight__corner-rank c-listing-fight__red-corner-rank--mobile">
                #1
              </div>
            </div>

            <div class="c-listing-fight__details">

              <div class="c-listing-fight__banner--live hidden">Live now</div>
              <div class="c-listing-fight__awards">
              </div>

              <div class="c-listing-fight__class">Welterweight Bout</div>

              <div class="c-listing-fight__detail-corner-name">
                {{event.athlete1.firstname}} {{event.athlete1.sirname}}
              </div>

              <div class="c-listing-fight__vs">

                <span class="e-divider">

                  <span class="e-divider__border">
                    <span class="e-divider__border-line--start grey-light"></span>
                    <span class="e-divider__border-text">vs</span>
                    <span class="e-divider__border-line--end grey-light"></span></span>

                </span>

              </div>

              <div class="c-listing-fight__detail-corner-name">
                {{event.athlete2.firstname}} {{event.athlete2.sirname}}
              </div>

              <div class="js-listing-fight__results c-listing-fight__results--desktop  hidden">
                <div class="c-listing-fight__result">
                  <div class="c-listing-fight__result-label">Round</div>
                  <div class="c-listing-fight__result-text round"></div>
                </div>

                <div class="c-listing-fight__result">
                  <div class="c-listing-fight__result-label">Time</div>
                  <div class="c-listing-fight__result-text time" data-time-fid="9638">
                  </div>
                </div>

                <div class="c-listing-fight__result">
                  <div class="c-listing-fight__result-label">Method</div>
                  <div class="c-listing-fight__result-text method"></div>
                </div>
              </div>
            </div>

            <div class="c-listing-fight__corner--blue">
              <div class="c-listing-fight__corner-image--blue">
                <div class="layout layout--onecol">
                  <div class="layout__region layout__region--content">
                    <img src="{{event.athlete2.headImage}}" loading="lazy"
                      class="image-style-event-fight-card-upper-body-of-standing-athlete" width="185" height="658">

                  </div>
                </div>

              </div>

              <div class="c-listing-fight__corner-body--blue">

                <div class="c-listing-fight__outcome-wrapper  ">
                  <div class="c-listing-fight__outcome"></div>
                </div>

                <div class="js-listing-fight__corner-rank c-listing-fight__corner-rank">
                  <span>#6</span>
                </div>

                <div class="c-listing-fight__corner-name">
                  <span class="c-listing-fight__corner-given-name">{{event.athlete2.firstname}}</span>
                  <span class="c-listing-fight__corner-family-name">{{event.athlete2.sirname}}</span>
                </div>
              </div>

              <div class="js-listing-fight__corner-rank c-listing-fight__blue-corner-rank--mobile">
                #6
              </div>
            </div>

            <div class="c-listing-fight__odds">
              <span class="c-listing-fight__odds-amount">+{{event.athlete1.handreach}}</span>
              <span class="c-listing-fight__odds-text">hand reach</span>
              <span class="c-listing-fight__odds-amount">+{{event.athlete2.handreach}}</span>
            </div><div class="c-listing-fight__odds">
              <span class="c-listing-fight__odds-amount">+{{event.athlete1.legreach}}</span>
              <span class="c-listing-fight__odds-text">Leg Reach</span>
              <span class="c-listing-fight__odds-amount">+{{event.athlete2.legreach}}</span>
            </div><div class="c-listing-fight__odds">
              <span class="c-listing-fight__odds-amount">+{{event.athlete1.weight}}</span>
              <span class="c-listing-fight__odds-text">Weight</span>
              <span class="c-listing-fight__odds-amount">+{{event.athlete2.weight}}</span>
            </div>

            <div class="js-listing-fight__results c-listing-fight__results--mobile  hidden">
              <div class="c-listing-fight__result">
                <div class="c-listing-fight__result-label">Round</div>
                <div class="c-listing-fight__result-text round">12</div>
              </div>

              <div class="c-listing-fight__result">
                <div class="c-listing-fight__result-label">Time</div>
                <div class="c-listing-fight__result-text time">5 min</div>
              </div>

              <div class="c-listing-fight__result">
                <div class="c-listing-fight__result-label">Method</div>
                <div class="c-listing-fight__result-text method"></div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </li>


  </ul>
</section>