<section class="offset-1">
    <ul class="l-listing__group">
        {{#each events}}
        <li class="l-listing__item" style="visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0); ">

            
            <article class="c-card-event--result" style=" border:1px solid rgb(212, 234, 255); border-radius:5px; margin:25px; background-color: #fff;">
                

                {{!-- card text
                --}}
                <div class="c-card-event--result__info">
                    <h3 class="c-card-event--result__headline" >
                        <a href="/events/{{id}}"> <span style=" font-family: stolzl-bold; color:rgb(2, 104, 187);">{{athlete1.firstname}}</span>
                            <span style="font-family: stolzl; font-size:15px; letter-spacing:1px; color:red;">vs</span>
                            <span style="  font-family: stolzl-bold; color:rgb(2, 104, 187);">{{athlete2.firstname}}</span></a>
                    </h3>

                    <div class="c-card-event--result__date tz-change-data" data-locale="en" data-card-event-title="Main Card">
                        <a href="/events/{{id}}">{{setExtendedDate date time}}</a>
                    </div>
                    {{!--
                    location
                    details text
                    --}}

                    <div class="e-p--small c-card-event--result__location">
                        <div
                            class="field field--name-venue field--type-entity-reference field--label-hidden field__item">
                            <div
                                class="taxonomy-term taxonomy-term--type-venue taxonomy-term--view-mode-default ds-1col clearfix">

                                <div>

                                    <div
                                        class="field field--name-taxonomy-term-title field--type-ds field--label-hidden field__item">
                                        <h5>
                                           {{venue}}
                                        </h5>
                                    </div>

                                    <div
                                        class="field field--name-location field--type-address field--label-hidden field__item">
                                        <p class="address" translate="no">
                                            <span class="locality">{{region}}</span>,
                                            <br>
                                            <span class="country">Tanzania</span>
                                        </p>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </div>
                {{!-- card
                images --}}

                <div class="c-card-event__fight-container">
                    <div class="c-card-event__narrow-fight">

                        <div class="c-carousel-wrapper c-carousel--white-bg">

                            <div class="c-carousel__item" style="width: 100%; display: inline-block;">

                                <div class="fight-card-tickets" data-fight-card="early"
                                    data-fight-card-name="Early Prelims" data-fight-label="Jacoby vs Oleksiejczuk">

                                    <article class="c-card--red-blue">
                                        {{!--
                                        first
                                        image
                                        --}}
                                        <div
                                            class="field field--name-red-corner field--type-entity-reference field--label field__item">
                                            <div class="layout layout--onecol">
                                                <div class="layout__region layout__region--content">

                                                    <div class="field  field__item">
                                                        <article
                                                            class="media media--type-image media--view-mode-event-results-athlete-headshot">

                                                            <img src="{{athlete1.headImage}}" loading="lazy"
                                                                class="image-style-event-results-athlete-headshot"
                                                                width="256" height="160">

                                                        </article>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                        {{!--
                                        second
                                        image
                                        --}}
                                        <div
                                            class="field field--name-blue-corner field--type-entity-reference field--label-hidden field__item">
                                            <div class="layout layout--onecol">
                                                <div class="layout__region layout__region--content">

                                                    <div
                                                        class="field field--name-image field--type-entity-reference field--label-hidden field__item">
                                                        <article
                                                            class="media media--type-image media--view-mode-event-results-athlete-headshot">

                                                            <img src="{{athlete2.headImage}}"
                                                                loading="lazy"
                                                                class="image-style-event-results-athlete-headshot"
                                                                width="256" height="160">

                                                        </article>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </article>

                                </div>

                            </div>

                        </div>

                    </div>
                </div>
                {{!-- card
                buttons --}}
                <div class="c-card-event--result__actions">

                    <a href="/watch" class="e-button--red" data-modal-target="event-how-to-watch-116081-event-result"
                        data-modal-theme="light--dark-title"><span class="e-button__text">
                            Watch
                        </span></a>

                    <a href="/shop"
                        class="e-button--black btn btn-danger"><span class="e-button__text">

                            Tickets
                        </span></a>

                </div>

            </article>

        </li>
        {{/each}}

    </ul>
</section>